services:
  postgres:
    image: postgres:15
    container_name: artstore_postgres
    environment:
      POSTGRES_DB: artstore
      POSTGRES_USER: artstore
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - artstore_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U artstore -d artstore"]
      interval: 30s
      timeout: 10s
      retries: 3

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: artstore_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
    networks:
      - artstore_network
    depends_on:
      - postgres
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: artstore_redis
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    networks:
      - artstore_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  minio:
    image: minio/minio:latest
    container_name: artstore_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    networks:
      - artstore_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  
  ldap:
    image: 389ds/dirsrv:3.1
    container_name: artstore_ldap
    ports:
      - "1389:3389"
      - "1636:3636"
    environment:
      DS_DM_PASSWORD: "password"
      DS_SUFFIX_NAME: "dc=artstore,dc=local"
    volumes:
      - ldap_data:/data
    networks:
      - artstore_network
    healthcheck:
      test: ["CMD-SHELL", "usr/lib/dirsrv/dscontainer -H"]
      interval: 30s
      start_period: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

  dex:
    image: dexidp/dex:v2.44.0
    container_name: artstore_dex
    ports:
      - "5556:5556" # web
      - "5557:5557" # grpc
      - "5558:5558" # telemetry
    volumes:
      - ./.utils/dex/config.yml:/etc/dex/config.yml
    command: dex serve /etc/dex/config.yml
    networks:
      - artstore_network
    restart: unless-stopped
    depends_on:
    - ldap

    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider --proxy=off http://localhost:5556/dex/healthz"]
      interval: 10s
      timeout: 5s
      retries: 3

  nginx:
    image: nginx:latest
    container_name: artstore_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./.utils/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./.utils/nginx/certs:/etc/nginx/certs
    command: /bin/sh -c "mkdir -p /etc/nginx/certs && openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/nginx/certs/key.pem -out /etc/nginx/certs/cert.pem -subj '/C=RU/ST=Moscow/L=Moscow/O=ArtStore/OU=IT/CN=localhost' && nginx -g 'daemon off;'"
    networks:
      - artstore_network
    depends_on:
      - dex
    restart: unless-stopped

networks:
  artstore_network:
    driver: bridge
    name: artstore_network

volumes:
  ldap_data:
  postgres:
  pgadmin:
  redis:
  minio: