apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "infra.labels" . | nindent 4 }}
    app.kubernetes.io/name: minio
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: {{ .Values.minio.storage }}
